.mainContainer {
  width: 100%;
  top: 0;
  left: 0;
  background-image: url(https://uka.no/static/svg/blob5.svg?51c02234e35e);
  min-height: 100vh;
}

.header {
  width: 100%;
  height: 10vh;
  top: 0;
  max-height: 80px;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: space-between;
  background-color: #000d34;
  font-size: 2em;
  font-weight: bold;
}

.contentContainer {
  min-height: 80vh;
  width: 80vw;
  margin-left: 10vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.oyeblikk {
  width: 250px;
  margin-right: 10px;
}
.ukelogo {
  width: 200px;
  margin-left: 20px;
}
.occupied {
  color: red;
  background-color: red;
}

.availableContainer {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.footer {
  background-color: #000d34;
  width: 100%;

}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
}